html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI';
}

.carousel {
  height: 100%;
  width: 100%;
  background-color: #000;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.pane-container {
  height: 100%;
  width: 100%;
  list-style: none;
  background-color: #ddd;
  margin: 0;
  padding: 0;
  position: relative;
}

.pane-container.transition {
  transition: left .4s ease-in-out;
}

.pane {
  float: left;
  height: 100%;
  width: 100%;
}

.pane div {
  text-align: center;
  font-size: 3em;
  color: #fff;
}

.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.carousel li.pane:nth-child(1) {
  background: #42d692;
}

.carousel li.pane:nth-child(2) {
  background: #4986e7;
}

.carousel li.pane:nth-child(3) {
  background: #d06b64;
}

.carousel li.pane:nth-child(4) {
  background: #42d692;
}