/* main styling */
/* <============fonts==================+> */
@font-face {
  font-family: 'Avenir';
  src: local('Avenir-Medium'), 
  url("https://cdn.tails.com/static/fonts/tails-icons/tails-icons.woff2?dfd8cd") format('woff'),
  url("https://cdn.tails.com/static/fonts/tails-icons/tails-icons.ttf?dfd8cd") format('ttf'),
  url("https://cdn.tails.com/static/fonts/tails-icons/tails-icons.svg?dfd8cd") format('svg'),
  url("https://cdn.tails.com/static/fonts/tails-icons/tails-icons.eot?dfd8cd") format('eot');
} 
@font-face {
  font-family: 'Avenir-bold';
  font-style: bolder;
  src: local('Avenir-Bold'), 
  url("https://cdn.tails.com/static/fonts/tails-icons/tails-icons.woff2?dfd8cd") format('woff'),
  url("https://cdn.tails.com/static/fonts/tails-icons/tails-icons.ttf?dfd8cd") format('ttf'),
  url("https://cdn.tails.com/static/fonts/tails-icons/tails-icons.svg?dfd8cd") format('svg'),
  url("https://cdn.tails.com/static/fonts/tails-icons/tails-icons.eot?dfd8cd") format('eot');

} 




html,
body {
  position: relative;
  height: 100%;
  font-family: 'Avenir'; 
}
body {

  font-family: 'Avenir'; 
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}


/* <---------------------------------------------------------------------> */

/* Swiper styling */

/* .swiper-container {
  width: 100%;
  height: 100vh;
}


*/

/* @media only screen and (min-height: 650px) {
  .swiper-container {
    height: 667px;
  }
}
@media only screen and (min-height: 700px) {
  .swiper-container {
    height: 736px;
  }
}
@media only screen and (min-height: 800px) {
  .swiper-container {
    height: 812px;
  }
}   */




.swiper-container {
  width: 100%;
  /* height: 100vh; Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
}


.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-container-v {
  /* background: #eee; */
}

/* <--------------------------------------_> */
/* NAV BAR */
/* .topBar {
  height: 7vh;
  width: auto;
  
   background-color: transparent;
  border-top: px solid white;
  border-left: 10px solid white;
  border-right: 10px solid white; 
} */

/* <--------------------------------------------------------------------------_> */

/* HOMEPAGE */

.homepage {
  /* background-color: lightblue; */
  height: 97%;
  width: 100%;
  position: relative;
  border-left: 10px solid white;
  border-right: 10px solid white;
  /* border-bottom: 15px solid white; */
/* CHANGED HERE */
  font-family: 'Avenir';
}
.borderTopSlide{
    /* border-top: 30px solid white; */
}
.borderBottomSlide{
  border-bottom: 30px solid white;
}


/* <==============logo=================> */
.topLeftLogo{
  /* padding-bottom: 30px; */
  text-align: left;
  float:left;
  margin-left: 10px
}
.tailsLogo{
  height: 80px;
  width: 80px;

}

.topLeftLogPageThreeHorizontal{
  padding: 15px 0 0 5px;
}

.topLeftLogPageTwoHorizontal{
  margin-left: 0;
}

.backgroundColorHomepage {
  background-color: #bdbdff;
}

.mainText {
  /* height: 50%; */
  display: flex;
  flex-direction: column;
  width: 100%;
  color: white;
  text-align: center;
  margin-top: 15px;
}

.mainTextContentOne {
  font-size: 40px;
  word-wrap: break-word;
  margin: 4px 0 4px 0;
  text-align: center;
  margin: auto;
  padding: 20px 25% 0 25%;
}
.mainTextContentTwo {
  font-size: 80px;
  word-wrap: break-word;
  width: 100%;
  padding: auto;
  font-family: 'Avenir';
  font-weight: bolder;
  line-height: 70px;
  margin: auto;
  padding-top: 25px;
  color:#0A1F65;
  text-shadow: 
  -1px 0 #0A1F65,
  0 1px #0A1F65, 
  1px 0 #0A1F65, 
  0 -1px #0A1F65,
  -1px -1px #0A1F65,
  1px 1px #0A1F65,
  -1px 1px #0A1F65,
  1px -1px #0A1F65;
}

.mainTextContentOne {
  font-size: 35px;

}
  
.mainTextContentTwo {
  font-size: 70px;

}


.mainBottomSection {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: calc(100% - 140px)  /* border-bottom: 10px solid white; */
}

/* ,CHANGED HERE */

.bottomBorder{
    /* border-bottom: 10px solid white; */

}
/* ,CHANGED HERE */
.mainBottomSectionPage1{
  top: calc(100% - 140px);
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  /* border-bottom: 15px solid white; */

}
/* @media only screen and (min-height: 700px) {
  .mainBottomSection {
    top: 535px;
  }
  .mainBottomSectionPage1{
    top: 535px;
  
  }
}
@media only screen and (min-height: 750px) {
  .mainBottomSection {
    top: 605px;
  }
  .mainBottomSectionPage1{
    top: 605px;
  
  }
}
@media only screen and (min-height: 850px) {
  .mainBottomSection {
    top: 665px;
  }
} */

.iconSize {
  font-size: 35px;
  color: red;
}

/* <---------------------------------------------> */

.spanOval {
  padding: 0px 25px 0 25px;
  word-wrap: break-word;
}
.spanOval > span {
  display: block;
  width: 70px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}
.ovalPaddingHorizontalTwo {
  margin-top: 10px;
}
.ovalPaddingHorizontalTwoPageOne {
  /* margin-top: 10px; */
}

.ovalTwo {
  /* margin-top: 20px; */
  display: inline-block;
  background-color: #ffc33e;
  text-align: center;
  border-top-left-radius: 150px;
  border-top-right-radius: 150px;
  width: 250px;
  height: 190px;
  color: #030e2d;
  font-size: bold;
}

/* <--------------------------------------------------------------------> */

/* page 2 - horizontal */
.backgroundColorPageTwo {
  background-image: url("./images/blackDog-yellowBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: lightcoral;
}
.PageTwoMainText {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  color: white;
  margin: 15px 0 0 15px;
  color: #0A1F65;
}
.pageTwoMainTextContentOne {
  padding-top: 15px;
  font-size: 30px;
  font-weight: bold;
  text-align: left;
  width: 30%;
}
.pageTwoMainTextContentTwo {
  padding-top: 10px;
  font-size: 25px;
  text-align: left;
  width: 50%;
}

/* <-----------------------------------__> */

/* page 3 - horizontal */

.backgroundColorPageThree {
  background-image: url("./images/ZeusDog-blueBackground-Chew.jpg");
  background-image: url("https://sb.monetate.net/img/1/1087/1862769.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: aquamarine;
}

.pageThreeMainText {
  /* height: 50%; */
  display: flex;
  flex-direction: column;
  color: white;
  margin: 15px 5px 0 0;
  /* padding-top: 20px; */
  float: right;
  width: 60%;
  position: relative;
}
.pageThreeBottomRight {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 55px;
  top: 100px;
}

@media only screen and (min-height: 670px) {
  .pageThreeBottomRight {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 55px;
    top: 100px;
  }
}
@media only screen and (min-height: 700px) {
  .pageThreeBottomRight {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 55px;
    top: 125px;
  }
}

@media only screen and (min-height: 800px) {
  .pageThreeBottomRight {
    top: 200px;
  }
}

.pageThreeMainTextContentOne {
  padding-top: 30px;
  font-size: 30px;
  font-weight: bold;
  text-align: right;
  width: 90%;
}
.pageThreeMainTextContentTwo {
  padding-top: 10px;
  font-size: 25px;
  text-align: right;
  width: 90%;
}

/* <------------------------------------------------> */

/* VERTICAL BOTTOM SLIDE */

.backgroundColorVerticalBottom {
  background-color: #ffc33e;
  border-bottom: 0px solid white;
}
.PageVerticalBottomMainText {
  height: 50%;
  display: flex;
  flex-direction: column;
  width: 100%;
  /* padding-top: 10px; */
  color: white;
  text-align: center;
  margin-top: 15px;
  word-wrap: break-word;
}

@media only screen and (min-height: 800px) {
 .PageVerticalBottomMainText{
margin-top: 40px;
}
.arrowMargin{
  margin-bottom: 40px;
}
}


.pageVerticalBottomTextContentOne {
  font-size: 60px;
  font-family: 'Avenir';
  color: #0A1F65;
  text-shadow: 
  -1px 0 #0A1F65,
  0 1px #0A1F65, 
  1px 0 #0A1F65, 
  0 -1px #0A1F65,
  -1px -1px #0A1F65,
  1px 1px #0A1F65,
  -1px 1px #0A1F65,
  1px -1px #0A1F65;

  font-weight: bolder;
  margin: 0 0 25px 0;
  /* margin: auto; */
  padding: 0 10% 0 10%;
  line-height: 65px;
}
.pageVerticalBottomTextContentTwo {
  font-size: 15px;
  word-wrap: break-word;
  width: 75%;
  margin: auto auto 15px auto;
  padding: 0px 20px 0 45px;
}
.pageVerticalBottomTextContentThree{
  font-size: 15px;
  word-wrap: break-word;
  width: 75%;
  margin: auto;
  padding: 0px 20px 0 45px;
}

/* .pageVerticalBottomTextContentTwo {
  font-size: 80px;
  word-wrap: break-word;
  width: 100%;
  padding: auto;
  font-weight: bolder;
  line-height: 70px;
  margin: auto;
  padding-top: 25px;
} */

.hideArrow {
  visibility: hidden;
}


.bottomCircle{
border-radius: 100px;
margin-top: 20px;
display: inline-block;
background-color: white;
text-align: center;
width: 100px;
height: 100px;
color: #030e2d;
font-size: bolder;
}

.spanBottomOval {
  padding: 0px 17px 0 17px;
  word-wrap: break-word;
}
.spanBottomOval > span {
  display: block;
  width: 70px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}

#arrowMargin{
margin-bottom: 10px;
}